body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}
header h2 {
    margin: 0;
    text-align: right;
    font-size: 2.5em;
    color: #333;
}

header p {
    margin: 10px 0 0;
    font-size: 2.5em;
    color: #666;
}

header p {
    text-align: center;
    margin: 20px 0;
}

.image{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }










